.box_social {
  display: flex;
  width: calc(100% / 4);

  flex-direction: row;
  /* border: 1px solid white; */
  justify-content: center;
}

.fa-brands {
  display: flex;
  border: 0.0625rem solid white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2.5rem;
  justify-content: center;
  align-items: center;
}
